.popup__close-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 26px;
  position: absolute;
  top: -40px;
  right: -5px;
  background: none;
  border: none;
}

@media (min-width: 545px) {
  .popup__close-button {
    top: -47px;
    right: -47px;
    font-size: 36px;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .15s;
}