.popup__form-save_type_inactive {
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
    border-radius: 2px;
    background: none;

}

.popup__form-save_type_inactive:hover {
    background: none;
    color: #C4C4C4;
    cursor: default;
}