.popup__container {
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 38px);
  height: fit-content;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 25px 22px;
  margin: 0;
}

@media (min-width: 438px) {
  .popup__container {
    max-width: 430px;
  }
}

@media (min-width: 545px) {
  .popup__container {
    padding: 34px 36px 37px;
  }
}
