.profile__info {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 32px;
  flex-direction: column;
}

@media (min-width: 545px) {
  .profile__info {
    flex-direction: row;
    margin-bottom: 26px;
  }
}

@media (min-width: 768px) {
  .profile__info {
    margin-bottom: 0;
  }
}