.gallery__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 40vh;
}
